<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [ ]:
# Exercise 1: Create a Jupyter Notebook
# Create a new Jupyter notebook called DataScienceEcosystem.ipynb

In [ ]:
# Exercise 2: Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

# Data Science Tools and Ecosystem

In [2]:
# Exercise 3: Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [12]:
# Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**

- List popular languages for Data Science.
- Identify common libraries used in Data Science.
- Create visualizations using Data Science tools.
- Understand the basics of arithmetic operations in Python.
- Convert units of measurement in Python.

In [3]:
# Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. RStudio
4. SQL
5. Java
6. C++

In [5]:
# Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. ggplot2
2. Lattice 
3. NumPy
4. Pandas
5. Matplotlib

In [6]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools  |
|---------------------|
| Jupyter Notebook     |
| RStudio              |
| Apache Zeppelin      |

In [7]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# Exercise 8 - Create a code cell to multiply and add numbers

# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
print(result)

17

In [10]:
# Exercise 9 - Create a code cell to convert minutes to hours

# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

In [13]:
# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author

Elisa